<main>
    <h1 class="page-title">
        About Page
    </h1>
    <p class="page-description">
        ero sed gravida. Vestibulum mollis nisi eu est mollis, sed bibendum sem dictum. Nunc a commodo nisl.

        Nulla facilisi. Fusce ultrices, dolor eu pharetra facilisis, tortor sem pharetra elit, sit amet imperdiet odio
        arcu quis turpis. Pellentesque sagittis lacus maximus imperdiet hendrerit. Aenean aliquet, ex ut aliquet
        facilisis, lorem risus elementum ex, in facilisis velit est tincidunt arcu. Quisque consectetur eros nunc, non
        elementum e
    </p>
</main>