.example-spacer {
    flex: 1 1 auto;
}


.header {
    display: flex;
    justify-content: space-between;
}

.header ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.header ul li {
    display: inline-block;
    
    margin-left: 10px;
}

.header ul li:first-child {
    margin-left: 0;
}

.header ul li a {
    color: #fff;
    text-decoration: none;
    opacity: 0.7;
    transition: opacity 0.3s ease;

    &:hover,
    &:active {
        opacity: 1;
    }
}